.exam_list {
    box-shadow: 0 0 5px #888;
    border-radius: 2px;
    margin-bottom: 12px;
    background-color: #fff;
}
.exam_name {
    display: inline-block;
    width: 83%;
    margin-left: 8px;
    margin-top: 0;
}

.viewdetails {
  margin: 0;
  font: 44px "Arial";
  text-align: center;
}
.exams-img-center{
  display: block;
 margin-left: auto;
 margin-right: auto;
}
