
.movie-detail-center{
padding: 3rem;
background-color: #032155;
}
.movie-details-book{
    color: white !important;
    background: black !important;
    border-radius: 1rem !important;
    padding: 0.475rem 1.75rem !important;
   
    text-decoration: solid !important;
    font-weight: 600 !important;
}
